body {
  min-height: 100%;
  margin: 0;
  background-color: white;
}
.me-auto {
  justify-content: center;
  text-align: center;
  margin-right: 0 !important;
}
.navbar {
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  padding: 0 20px; /* Adjust padding as needed */
  position: fixed;
  top: 0;
  width: 100%; /* Full width */
  background-color: #f0e9d4;
  z-index: 9999;
  height: 60px; /* Set a fixed height */
}

.navbar a, .nav-item a {
  margin: 10px 20px;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px; /* Adjust if needed */
  padding: 8px 0;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  color: black;
}

.home {
  height: 50px;
}

.image {
  display: grid;
  place-items: center;
}

.home:hover {
  transform: scale(1.1)
}

.link {
  background-image: linear-gradient(white, white);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .6s;
}

.link:hover {
  background-size: 100% 100%;
}

#basic-navbar-nav {
  display: flex !important;
  justify-content: center !important;
  align-items: center; /* This might be redundant if it's already applied to .navbar */
  width: 100%;
}
